[user]
	name = RexYuan
	email = r1218r1218@gmail.com

[credential]
	helper = !"f() {\
		if [ \"$(uname -s)\" = 'Darwin' ]; then\
			git credential-osxkeychain \"$@\";\
		elif [ \"$(uname -s)\" = 'Linux' ]; then\
			git credential-store \"$@\";\
		fi; }; f"

[core]
	excludesfile = ~/.gitignore
	editor = code --wait

[alias]
	s = status --show-stash --renames
	l = log --graph --decorate=short --pretty=oneline --abbrev-commit --abbrev=6 --max-count=10
	la = log --all --graph --decorate=short --pretty=oneline --abbrev-commit --abbrev=6 --max-count=10
	ll = log --graph --decorate=auto --pretty=fuller --abbrev-commit --abbrev=6
	lla = log --all --graph --decorate=auto --pretty=fuller --abbrev-commit --abbrev=6
	d = diff
	dc = diff --cached

[status]
	relativePaths = false
	submodulesummary = true

[diff]
	context = 5
	mnemonicPrefix = true
	relative = true
	renames = copies
	colorMoved = dimmed-zebra
	colorMovedWS = allow-indentation-change

[init]
	defaultBranch = main

[pull]
	ff = only

# see https://stackoverflow.com/q/6842687/2448540
[http]
	postBuffer = 1048576000
