[user]
	name = RexYuan
	email = r1218r1218@gmail.com

[credential]
	helper = !"f() {\
		if [ \"$(uname -s)\" = 'Darwin' ]; then\
			git credential-osxkeychain \"$@\";\
		elif [ \"$(uname -s)\" = 'Linux' ]; then\
			git credential-store \"$@\";\
		fi; }; f"

[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	pager = command -v bat &> /dev/null && bat --theme Tomorrow-Night --paging=always || less

[alias]
	s = status --show-stash --renames
	l = log --graph --decorate=short --pretty=oneline --abbrev-commit --abbrev=6 --max-count=10
	la = log --all --graph --decorate=short --pretty=oneline --abbrev-commit --abbrev=6 --max-count=10
	ll = log --graph --decorate=auto --pretty=fuller --abbrev-commit --abbrev=6
	lla = log --all --graph --decorate=auto --pretty=fuller --abbrev-commit --abbrev=6
	d = diff
	dc = diff --cached
	dt = difftool --no-prompt
	dtc = difftool --cached --no-prompt
	sinit = submodule update --init --recursive
	sdeinit = submodule deinit --all --force

[status]
	relativePaths = false
	submodulesummary = true

[diff]
	context = 5
	mnemonicPrefix = true
	relative = true
	renames = copies
	colorMoved = dimmed-zebra
	colorMovedWS = allow-indentation-change

[init]
	defaultBranch = main

[pull]
	ff = only

# https://stackoverflow.com/q/6842687/2448540
[http]
	postBuffer = 1048576000

# https://stackoverflow.com/q/30024353/2448540
[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED
