[submodule "zsh/lib/pure"]
	path = zsh/lib/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/lib/zsh-syntax-highlighting"]
	path = zsh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "terminal/tomorrow-theme"]
	path = terminal/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "terminal/vscode-base16-term"]
	path = terminal/vscode-base16-term
	url = https://github.com/Glitchbone/vscode-base16-term.git
